@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --shadow-mentor-shadow: 0px 4px 20px rgba(110, 127, 185, 0.1);
  --inset-54: 54%;
  /* --color-primary: #6bc428; */
  --color-primary: #7fdb34;
  --color-primary-dark: #6bc428;
  --color-primary-light: #a3e56b;
  --color-bg-soft: #f5f7fa;
  --color-white: #fff;
  --color-text-dark: #2d3748;
  --color-text-light: #718096;
  --color-shadow-soft: #7fdb3426;
  --color-shadow-neu: #0000001a;

  --background-image-banner-image: url('../public/images/banner/background.png');
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  section {
    @apply py-14
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
  }

  small {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }
}